<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>登录</title>
</head>
<body>
	<h2>标准注册页面</h2>
    <div th:if="${#request.getAttribute('socialUserInfo') != null}" th:object="${#request.getAttribute('socialUserInfo')}">
        <span th:text="*{providerId}"></span> : <span th:text="*{providerUserId}"></span>
        <div></div>
        <span th:text="*{nickname}"></span> <img th:src="*{avatar}">
    </div>
    <h3 th:unless="${#request.getAttribute('socialUserInfo') != null}">
        这是系统注册页面，请配置security.browser.signUpUrl属性来设置自己的注册页
    </h3>
</body>
</html>
